footer {
    display: flex;
    justify-content: space-between;
    padding: 28px 32px;
    color: var(--text-color-secondary);
    margin-left: 60px;
    margin-right: 60px;
}

footer div {
    display: flex;
    gap: 16px;
}

footer .links p:hover {
    color: var(--brand-color);
    text-decoration: underline;
    cursor: pointer;
}